.box{
    height:calc((100vh - 100px));
    width: auto;
}

.sx{
    width: 50px;
    color: lightgray;
}

.new-playlist{
    display:none;
}

.logo img{
    margin-left: 15px;
    margin-bottom: 10px;
    height: 25px;
    width: auto;
}

.upper-sidebar{
    min-height: calc(100% - 50px);
}

.left-nav img{
    margin-left: 15px;
    display: block;
    height: 20px;
    width: auto;
    margin-bottom: 10px;
}

.left-nav span{
    display: none;
}

.lower-sidebar img{
    margin-left: 15px;
    display: block;
    height: 20px;
    width: auto;
}


.lower-sidebar div span{
    display: none;
}



@media screen and (min-width:576px) {
    .sx{
        width: 200px;
        color: rgb(168, 168, 168);
    }

    .red *{
        display: block;
    }

    .logo img{
        margin-left: 0px;
    }

    .logo{
        content: url("../spotify/img/logo.svg");
        width: auto;
        height: 50px;
        margin-bottom: 10px;
    }

    .left-nav img{
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 0px;
    }
    .left-nav span{
        display: inline-block;
    }

    .lower-sidebar img{
        
        display: inline-block;
    }

    .lower-sidebar div span{
        display: inline-block;
    }

    .left-nav{
        position: relative;
    }

    .left-nav li:hover{
        color: white;
    }

    .new-playlist li:hover{
        color: white;
    }

    .plus:hover{
        color: white;
    }

    .lower-sidebar span:hover{
        color: white;
    }


    
    .upper-sidebar{
        margin-left: 10px;
    }
    
    ul{
        list-style: none;
    }
    
    .lower-sidebar{
        margin-left: 10px;
        margin-right: 20px;
        height: 80px;  
    }
    
    .lower-sidebar img{
        width: auto;
        height: 12px;
    }
   
    
    .upper-sidebar{
        min-height: calc(100% - 50px);
        
    }
    
    li img{
        height: 20px;
        width: auto;
    }
    
    .new-playlist i{
        font-size: 30px;
        vertical-align: center;
    }
    
    .plus{
        align-items: center;
    }
    
    .new-playlist{
        overflow: hidden;
    }
    
    .new-playlist ul{
        height: 150px;
        overflow: auto;
    }

    .top-bar{  
        width: calc(100% - 200px); 
    }
}

.dx{
    width: calc((100% - 200px)); 
}

.red{
    background-color: black;
}

.blue{
    background-color: rgb(17 12 26);
}

.top-bar{
    position: fixed;
    z-index: 1;
    height: 90px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.5);
}

.update{
    position: fixed;
    top:30px;
    right: 20px;
    border: 1px solid white;
    padding: 10px 40px;
    color: white;
    border-radius: 25px;
}

.update:hover{
    font-size: 18px;
}

.principale{
    overflow-y:auto;
    height: 100%;
    padding-top:100px ;
}

.evidenza{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.evidenza li{
    display: inline-block;
    margin: 0 10px;
}

.evidenza li:hover{
    color: white;
    border-bottom:3px solid yellowgreen;
    border-radius: 3px;
}

.recentplay{
    margin-bottom: 20px;
}

.song img{
    width: 90%;
    height: auto;
    margin-left: 10px;
}
.song-hover{
    position: relative;
}

.song-hover:hover img{
    filter: opacity(0.5);
}

.song-hover i{
    display: none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: white;
}

.song-hover:hover i{
    display: block;
}


.titoli{
    text-align: center;
    color: white;
}

.gray{
    color: lightgray;
    margin-left: 10px;
}

h2{
    color: white;
    margin-left:10px;
}

.evidenza li{
    color: grey;
}

.autor{
    text-align: center;
    color: gray;
}

.playlist{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.for-you img{
    width: 90%;
    height: auto;
    margin-left: 10px;
}



.artisti{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 100px;
}



.bar-play{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 2;
    background-color: #181818;
    border-top: 1px solid #282828;
}

.left ,.center ,.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play{
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 20px;
}

.play img{
     width: 50px;
     height: auto;
     display: inline-block;
}

.scritte{
    vertical-align: middle;
    margin-left: 10px;
}

.tit{
    color: white;
}

.art{
    color: lightslategray;
}

.art:hover{
    color: white;
    border-bottom: 2px solid white;
}

.simb{
    margin-left: 20px;
    color: lightslategray;
}
.simb *{
    margin-left: 10px;
}

.simb i:hover{
    color: white;
}

.center{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-evenly;
}

.tast-play{
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: white;
}

.tast-play i{
    font-size: 20px;
}

.tast-play i:hover{
    font-size: 26px;
}

.temp{
   margin: 0 10px;
   color: white;
}
.music-bar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 50%;
}

#time-bar{
    width: 100%;
    height: 5px;
    background-color: lightslategray;
    border-radius: 30px;
    border: 1px solid none;
    display:flex;
    align-items: center;
}

#moment-bar{
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid white;
    vertical-align: middle;
}

.palla-bianca{
    display: none;
    border: 3px solid white;
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


#time-bar:hover #moment-bar{
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

#time-bar:hover .palla-bianca{
    display: flex;
}

.right i{
    margin: 0 2%;
    color: white;
    font-size: 12px;
}
.right{
    height: 60px;
    
}

#volume-bar{
    width: 5px;
    height: 100%;
    background-color: lightslategray;
    border-radius: 30px;
    border: 1px solid none;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#momvol-bar{
    width: 5px;
    height: 30%;
    background-color: white;
    border-radius: 30px;
    border: 1px solid white;
    vertical-align: middle;
    
}

#volume-bar:hover #momvol-bar{
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

#volume-bar:hover .palla-bianca{
    display: flex;
}

@media screen and (min-width:768px){
    #volume-bar{
        width: 100%;
        height: 5px;
        align-items: center;
        flex-direction: row;
    }
    #momvol-bar{
        width: 30%;
        height: 5px;
    }
    
}