.box{
    height:calc((100vh - 100px));
    width: auto;
}

.sx{
    width: 200px;
    color: lightgray;
}

.dx{
    width: calc((100% - 200px));
    
}

.left-nav{
    position: relative;
}

.upper-sidebar{
    margin-left: 10px;

}

ul{
    list-style: none;
}

.lower-sidebar{
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
    
}
.logo img{
    width: auto;
    height: 50px;
}

.upper-sidebar{
    min-height: calc(100% - 50px);
    
}

li img{
    height: 20px;
    width: auto;
}

.new-playlist i{
    font-size: 30px;
    vertical-align: center;
}

.mauro{
    align-items: center;
}

.new-playlist{
    overflow: hidden;
}

.new-playlist ul{
    height: 150px;
    overflow: auto;
}

.red{
    background-color: black;
}

.blue{
    background-color: rgb(32, 32, 32);
}

.top-bar{
    position: fixed;
    height: 90px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.5);
    
}

.update{
    position: fixed;
    top:30px;
    right: 20px;
    border: 1px solid white;
    padding: 10px 40px;
    color: white;
    
    border-radius: 25px;
}

.principale{
    overflow-y:auto;
    height: 100%;
    padding-top:100px ;
}

.evidenza{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.evidenza li{
    display: inline-block;
    margin: 0 10px;
}

.recentplay{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 20px;

}

.song{
    margin-left: 15px;
    margin-bottom: 10px;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;
    width: 180px;

}

.song img{
    
    width: 180px;
    height: auto;
}

.titoli{
    text-align: center;
    width: 200px;
    color: white;
}

h2{
    color: white;
}

.evidenza li{
    color: grey;
}

.autor{
    text-align: center;
    color: gray;
}

.playlist{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.for-you img{
    width: 200px;
    height: auto;
}

.for-you{
    margin-left: 10px;
}

.artisti{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 100px;
}



.bar-play{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 2;
    background-color: #181818;
    border-top: 1px solid #282828;
}

.left ,.center ,.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play{
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 20px;
}

.play img{
     width: 50px;
     height: auto;
     display: inline-block;
}

.scritte{
    vertical-align: middle;
    margin-left: 10px;
}

.tit{
    color: white;
}

.art{
    color: lightslategray;
}

.simb{
    margin-left: 20px;
    color: lightslategray;
}
.simb *{
    margin-left: 10px;
}

.center{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-evenly;
}

.tast-play{
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 25px;
    color: white;
}

.temp{
   margin: 0 10px;
   color: white;
}
.music-bar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#time-bar{
    width: 400px;
    height: 5px;
    background-color: lightslategray;
    border-radius: 30px;
    border: 1px solid none;
}

#moment-bar{
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid white;
    vertical-align: middle;
}

.right i{
    margin: 0 10px;
    color: white;
}

#volume-bar{
    width: 100px;
    height: 5px;
    background-color: lightslategray;
    border-radius: 30px;
    border: 1px solid none;
    margin-right: 20px;
}

#momvol-bar{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid white;
    vertical-align: middle;
}